* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1, h2, h3, p, span {
  color: rgb(255, 255, 255);
}

.background {
  background: #3E1333;
}

.headers h1 {
  font-size: 3rem;
}
.headers h2 {
  font-size: 2rem;
}
.headers .head {
  margin-top: 2rem;
  font-size: 3rem;
}
.headers .subhead {
  padding-left: 20%;
  font-family: "Tiro Bangla", serif;
  font-style: italic;
  font-size: 2.75rem;
}
.headers .right {
  display: flex;
  justify-content: end;
}
.headers .center {
  display: flex;
  justify-content: center;
}
.headers .accent {
  font-family: "Tiro Bangla", serif;
}

.text-block {
  font-size: 1.25rem;
  margin-top: 2rem;
  max-width: 40%;
}
.text-block p {
  padding-top: 1rem;
}
.text-block .accent {
  font-family: "Tiro Bangla", serif;
  font-size: 1.5rem;
}

.about {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1.25fr 1fr 1fr;
}
.about .text-block {
  min-width: 100%;
}
.about .photo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 3rem;
  transition: 300ms;
}
.about .photo img {
  max-width: 15rem;
  max-height: 18rem;
  object-fit: cover;
  border-radius: 0.25rem;
  filter: grayscale(100%);
  transition: 400ms ease-out 500ms;
}
.about .photo img:hover {
  filter: none;
  scale: 110%;
  transition: 400ms ease-out 0s;
}
.about .stack {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .stack .skills {
  color: white;
}

#about p, #works p, #contact p {
  font-size: 3rem;
}

.top {
  padding-top: 6rem;
}

.center {
  display: flex;
  justify-content: center;
}

.skills {
  display: flex;
  justify-content: center;
}
.skills .tagcloud .tagcloud-item:hover {
  font-size: 1.25rem;
}

.works .work {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 3rem;
  margin-bottom: 10rem;
}
.works .work .description {
  grid-column: 6/-1;
  grid-row: 1/1;
  text-align: right;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.works .work .description .headers {
  grid-row: 1/1;
  grid-column: 4/6;
  display: flex;
  align-items: center;
  text-align: left;
}
.works .work .description .summary {
  grid-row: 2/4;
  grid-column: 1/6;
  display: flex;
  align-items: center;
  z-index: 10;
  text-align: left;
  padding: 2rem;
  background: #5e1d4e;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}
.works .work .images {
  grid-column: 1/8;
  grid-row: 1/1;
  z-index: 1;
  width: 100%;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  filter: grayscale(70%);
  transition: 5000ms;
}
.works .work .images img {
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.works .work .images .filter {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #3E1333;
  opacity: 0.5;
  transition: 500ms;
}
.works .work .images:hover {
  filter: none;
  transition: 400ms ease-out 0s;
}
.works .work .images:hover .filter {
  opacity: 0;
}
.works .work .technologies {
  grid-column: 1/12;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 1rem;
}
.works .work .technologies .technology {
  font-size: 1.25rem;
  display: inline;
  padding: 0.5rem 0.5rem 0 0.5rem;
  opacity: 0.8;
}
.works .work .technologies .link {
  font-size: 2rem;
}
.works .work .technologies .link:hover {
  opacity: 1;
}

.contact {
  min-height: 80vh;
}

.contact-info .text-block {
  text-align: center;
  font-size: 1.5rem;
  min-width: 100%;
}
.contact-info .contact-buttons {
  margin-top: 8rem;
  display: flex;
  justify-content: space-around;
}
.contact-info .contact-buttons .button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  padding: 1.5rem;
  width: 12rem;
  border: solid 1px white;
  transition: 250ms;
}
.contact-info .contact-buttons .button:hover {
  background: white;
  border: solid 1px #3E1333;
}
.contact-info .contact-buttons .button:hover span {
  color: #3E1333;
}
.contact-info .contact-buttons .button .icon {
  font-size: 2rem;
}

.info .info-right {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  writing-mode: vertical-rl;
}
.info .info-right a {
  color: rgba(255, 255, 255, 0.6);
  transition: 100ms;
}
.info .info-right a:hover {
  color: rgb(255, 255, 255);
}
.info .info-left {
  display: flex;
  justify-content: end;
  align-items: center;
  position: fixed;
  left: 2rem;
  bottom: 2rem;
  font-size: 1.5rem;
}
.info .info-left a {
  color: rgba(255, 255, 255, 0.6);
  transition: 100ms;
}
.info .info-left a:hover {
  color: rgb(255, 255, 255);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

@media screen and (max-width: 700px) {
  .top-add {
    padding-top: 12rem;
  }
  .headers {
    transition: 150ms;
  }
  .headers h1 {
    font-size: 2.25rem;
  }
  .headers h2 {
    font-size: 2rem;
  }
  .headers .head {
    font-size: 2.5rem;
  }
  .headers .subhead {
    padding-top: 1rem;
    padding-left: 0;
    font-size: 2rem;
  }
  .text-block {
    max-width: 100%;
  }
  #about p, #works p, #contact p {
    font-size: 5rem;
  }
  .about {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .about .photo:hover {
    scale: 125%;
  }
  .works .work {
    grid-template-rows: 1fr 1fr 0.25fr;
  }
  .works .work .description {
    grid-row: 1/1;
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .works .work .description .headers {
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
  }
  .works .work .description .summary {
    grid-column: 1/-1;
  }
  .works .work .images {
    grid-column: 1/-1;
    grid-row: 2/2;
  }
  .works .work .technologies {
    grid-column: 1/-1;
    grid-row: 3/3;
    display: grid;
    grid-template-rows: 1.5fr 1fr;
    margin: 0;
  }
  .works .work .technologies .technology {
    grid-row: 1/1;
    font-size: 1rem;
  }
  .works .work .technologies .link {
    font-size: 1.5rem;
    justify-content: space-between;
    grid-row: 2/2;
  }
  .info {
    display: none;
  }
}
@media screen and (min-width: 700px) and (max-width: 1100px) {
  .text-block {
    min-width: 100%;
  }
  .about {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3rem;
  }
  .about .text-block {
    grid-column: 1/3;
  }
  .about .photo {
    grid-row: 2/2;
    margin-top: 0;
    align-items: center;
  }
  .about .photo:hover {
    scale: 125%;
  }
  .about .stack {
    grid-row: 2/2;
  }
  .works .work {
    grid-template-rows: 1fr 1fr 0.25fr;
  }
  .works .work .description {
    grid-row: 1/1;
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .works .work .description .headers {
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
  }
  .works .work .description .summary {
    grid-column: 1/-1;
  }
  .works .work .images {
    grid-column: 1/-1;
    grid-row: 2/2;
  }
  .works .work .technologies {
    grid-column: 1/-1;
    grid-row: 3/3;
    display: grid;
    grid-template-rows: 1.5fr 1fr;
    margin: 0;
  }
  .works .work .technologies .technology {
    grid-row: 1/1;
    font-size: 1rem;
  }
  .works .work .technologies .link {
    font-size: 1.5rem;
    justify-content: space-between;
    grid-row: 2/2;
  }
}
.container-main {
  padding: 0 2rem 0 2rem;
  position: relative;
  min-height: 100vh;
}

.container-page {
  padding: 0 10% 0 10%;
}

.vertical-container {
  min-height: 100vh;
}

@media screen and (max-width: 700px) {
  .vertical-container {
    min-height: 100%;
  }
}
.nav {
  display: grid;
  grid-template-columns: 50% repeat(6, 1fr);
  grid-template-rows: 1fr;
  z-index: 9999;
  position: fixed;
  right: 0;
  top: 0;
  padding: 1rem 4rem 1rem 0;
  width: 100%;
  background: rgba(62, 19, 51, 0.7);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  transition: 500ms;
}
.nav a {
  text-decoration: none;
}
.nav .link {
  color: rgb(255, 255, 255);
  padding: 1rem;
  text-align: center;
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}
.nav .link:hover {
  color: rgba(255, 255, 255, 0.7);
}
.nav .nav-about {
  grid-column: 3/3;
}
.nav .nav-works {
  grid-column: 4/4;
}
.nav .nav-contact {
  grid-column: 5/5;
}
.nav .resume {
  grid-column: 6/6;
  text-align: center;
  margin-left: 2rem;
  padding: 0.75rem;
  color: rgb(255, 255, 255);
  border: solid 2px white;
  width: 5rem;
  transition: 100ms;
}
.nav .resume:hover {
  background: white;
  color: #3E1333;
}
.nav .icon {
  grid-column: 7/7;
  display: none;
  font-size: 2rem;
  text-align: center;
  color: white;
}

.scroll-up {
  top: -6rem;
}

@media screen and (max-width: 700px) {
  .nav {
    padding-right: 4rem;
  }
  .nav a {
    display: none;
  }
  .nav .icon {
    float: right;
    display: block;
  }
  .nav.responsive {
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: repeat(5, 1fr);
  }
  .nav.responsive .nav-about {
    grid-column: 2/2;
    grid-row: 2/2;
    width: 100%;
  }
  .nav.responsive .nav-works {
    grid-column: 2/2;
    grid-row: 3/3;
    width: 100%;
  }
  .nav.responsive .nav-contact {
    grid-column: 2/2;
    grid-row: 4/4;
    width: 100%;
  }
  .nav.responsive .resume {
    grid-column: 2/2;
    grid-row: 5/5;
    width: 100%;
    text-align: center;
    margin-left: 0;
    border: none;
  }
  .nav.responsive .resume:hover {
    background: none;
    color: white;
    opacity: 0.7;
  }
  .nav.responsive .icon {
    grid-column: 2/2;
    grid-row: 1/1;
    text-align: right;
    padding-right: 0.5rem;
  }
  .nav.responsive a {
    float: none;
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
