@import "../utilities/variables";

.container-main {
  padding: 0 $cnt-mn 0 $cnt-mn;
  position: relative;
  min-height: 100vh;
}

.container-page {
  padding: 0 $cnt-pg 0 $cnt-pg;
}

.vertical-container {
  min-height: 100vh;
}
