@import "../utilities/variables";

.container-main {
  padding: 0 $cnt-mn 0 $cnt-mn;
  position: relative;
  min-height: 100vh;
}

.container-page {
  padding: 0 $cnt-pg 0 $cnt-pg;
}

.vertical-container {
  min-height: 100vh;
}


@media screen and (max-width: 700px) {
  .vertical-container {
    min-height: 100%;
  }
}
