@import "../utilities/variables";

.nav {
  //display: flex;
  //justify-content: end;
  //align-items: center;

  display: grid;
  grid-template-columns: 50%  repeat(6, 1fr);
  grid-template-rows: 1fr;


  z-index: 9999;
  position: fixed;
  right: 0;
  top: 0;

  padding: 1rem 4rem 1rem 0;
  width: 100%;

  background: rgba(62, 19, 51, 0.7);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);

  transition: 500ms;


  a {
    text-decoration: none;
  }

  .link {
    color: $link;
    padding: 1rem;

    text-align: center;

    &:hover {
      color: $link-hover;
    }

    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  }

  .nav-about {
    grid-column: 3/3;
  }

  .nav-works {
    grid-column: 4/4;
  }

  .nav-contact {
    grid-column: 5/5;
  }

  .resume {
    grid-column: 6/6;
    text-align: center;
    margin-left: 2rem;
    padding: 0.75rem;
    color: $link;
    border: solid 2px white;
    width: 5rem;
    transition: 100ms;

    &:hover {
      background: white;
      color: #3E1333;
    }
  }

  .icon {
    grid-column: 7/7;
    display: none;
    font-size: 2rem;
    text-align: center;
    color: white;
  }
}

.scroll-up {
  top: -6rem;
}


@media screen and (max-width: 700px) {
  .nav {
    padding-left: 5rem;

    a {
      display: none;
    }

    .icon {
      float: right;
      display: block;
    }
  }

  .nav.responsive {
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: repeat(5, 1fr);


    .nav-about {
      grid-column: 2/2;
      grid-row: 2/2;
      width: 100%;
    }

    .nav-works {
      grid-column: 2/2;
      grid-row: 3/3;
      width: 100%;
    }

    .nav-contact {
      grid-column: 2/2;
      grid-row: 4/4;
      width: 100%;
    }

    .resume {
      grid-column: 2/2;
      grid-row: 5/5;

      width: 100%;
      text-align: center;
      margin-left: 0;
      border: none;

      &:hover {
        background: none;
        color: white;
        opacity: 0.7;
      }
    }

    .icon {
      grid-column: 2/2;
      grid-row: 1/1;
      text-align: right;
      padding-right: 0.5rem;
    }

    a {
      float: none;
      display: block;
    }
  }
}
