@import "../utilities/variables";

.nav {
  display: flex;
  justify-content: end;
  align-items: center;

  position: fixed;
  right: 0;
  top: 0; //on scroll make -10rem

  padding: 1rem 5rem 1rem 0;
  width: 100%;

  background: rgba(62, 19, 51, 0.7);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);

  a {
    text-decoration: none;
  }

  .link {
    color: $link;
    padding: 1rem;

    &:hover {
      color: $link-hover;
    }

    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  }
}
