@import "../utilities/variables";

.nav {
  display: flex;
  justify-content: end;
  align-items: center;

  z-index: 9999;
  position: fixed;
  right: 0;
  top: 0; //on scroll make -10rem

  padding: 1rem 4rem 1rem 0;
  width: 100%;

  background: rgba(62, 19, 51, 0.7);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);

  transition: 500ms;

  a {
    text-decoration: none;
  }

  .link {
    color: $link;
    padding: 1rem;

    &:hover {
      color: $link-hover;
    }

    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  }

  .resume {
    text-align: center;
    margin-left: 2rem;
    padding: 0.75rem;
    color: $link;
    border: solid 2px white;
    width: 5rem;
    transition: 100ms;

    &:hover {
      background: white;
      color: #3E1333;
    }
  }
}

.scroll-up {
  top: -6rem;
}
