@import "../utilities/variables";
.background{
  background: $background;
}
h1,h2,p{
  color: $font-color;
}
h1{
  font-size: 3rem ;
}
h2{
  font-size: 2rem;
}

.head{
  margin-top: 2rem;
}
.accent{
  font-family: 'Tiro Bangla', serif;
  font-style: italic;
}
.text-block{
  margin-top: 2rem;
  max-width: 30%;
}


.info-right{
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    writing-mode: vertical-rl;
  a{
    color: rgba(255,255,255,0.6);
    transition: 100ms;
    &:hover{
      color: rgba(255,255,255,1);
    }
  }
}

.info-left{
  display: flex;
  justify-content: end;
  align-items: center;
  position: fixed;
  left: 2rem;
  bottom: 2rem;
  font-size: 1.5rem;
  a{
    color: rgba(255,255,255,0.6);
    transition: 100ms;
    &:hover{
      color: rgba(255,255,255,1);
    }
  }
}

