@import "../utilities/variables";

h1, h2, h3, p, span, {
  color: $font-color;
}

.background {
  background: $background;
}

.headers {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  .head {
    margin-top: 2rem;
    font-size: 3rem;
  }

  .subhead {
    padding-left: 20%;
    font-family: 'Tiro Bangla', serif;
    font-style: italic;
    font-size: 2.75rem;
  }

  .right {
    display: flex;
    justify-content: end;
  }

  .center {
    display: flex;
    justify-content: center;
  }

  .accent {
    font-family: 'Tiro Bangla', serif;
  }
}

.text-block {
  font-size: 1.25rem;
  margin-top: 2rem;


  p {
    padding-top: 1rem;
  }

  .accent {
    font-family: 'Tiro Bangla', serif;
    font-size: 1.5rem;
  }
}

.info {

  .info-right {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    writing-mode: vertical-rl;

    a {
      color: rgba(255, 255, 255, 0.6);
      transition: 100ms;

      &:hover {
        color: rgba(255, 255, 255, 1);
      }
    }
  }

  .info-left {
    display: flex;
    justify-content: end;
    align-items: center;
    position: fixed;
    left: 2rem;
    bottom: 2rem;
    font-size: 1.5rem;

    a {
      color: rgba(255, 255, 255, 0.6);
      transition: 100ms;

      &:hover {
        color: rgba(255, 255, 255, 1);
      }
    }
  }
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  .photo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 3rem;

    transition: 300ms;

    img {
      max-width: 15rem;
      max-height: 18rem;
      object-fit: cover;

      border-radius: 0.25rem;
      filter: grayscale(100%);
      transition: 400ms ease-out 500ms;

      &:hover {
        filter: none;
        scale: 110%;
        transition: 400ms ease-out 0s;
      }
    }


  }

  .stack {
    display: flex;
    align-items: center;
    justify-content: center;

    .skills {
      color: white;
    }
  }
}

.limit70 {
  max-width: 70%;
}

.limit40 {
  max-width: 40%;
}

.top {
  padding-top: 12rem;
}

.skills {
  display: flex;
  justify-content: center;

  .tagcloud {

    .tagcloud-item {

      &:hover {
        font-size: 1.25rem;
      }
    }
  }
}



