//colors
$background: #3E1333;
$font-color: rgba(255, 255, 255, 1);

$link: rgba(255, 255, 255, 1);
$link-hover: rgba(255, 255, 255, 0.7);

//paddings
$cnt-pg: 10%;
$cnt-mn: 2rem;

//fonts
$main-font: 'Open Sans', sans-serif;
;

$accent: 'Tiro Bangla', serif;
;
